@layer components
  .preferences-bar
    align-items: flex-end
    display: flex
    flex-wrap: wrap
    gap: var(--space-m)
    justify-content: center
    padding: var(--space-s) var(--layout-padding) var(--space-m)
